In [9]:
import pandas as pd

In [10]:
filename = "./data/census.csv"

In [14]:
df = pd.read_csv(filename)
df.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [18]:
df['salary']

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
32556    <=50K
32557     >50K
32558    <=50K
32559    <=50K
32560     >50K
Name: salary, Length: 32561, dtype: object

In [19]:
sample=df[df['salary']=='<=50K'].iloc[10].to_dict()

sample

{'age': 25,
 'workclass': 'Self-emp-not-inc',
 'fnlgt': 176756,
 'education': 'HS-grad',
 'education-num': 9,
 'marital-status': 'Never-married',
 'occupation': 'Farming-fishing',
 'relationship': 'Own-child',
 'race': 'White',
 'sex': 'Male',
 'capital-gain': 0,
 'capital-loss': 0,
 'hours-per-week': 35,
 'native-country': 'United-States',
 'salary': '<=50K'}

In [20]:
# check for nan values
df.isna().sum()

age               0
workclass         0
fnlgt             0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64

In [21]:
# dataset info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlgt           32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [25]:
#Looks like column names have spaces in them:
new_names = [colum_name.replace(" ", "") for colum_name in df.columns]
df = df.set_axis(new_names, axis=1)

#check new names
df.columns

Index(['age', 'workclass', 'fnlgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

Do the same for all the categorical variables:

In [26]:
# check if there are more spaces left
for feature in df.columns:

    if df[feature].dtype =='object':
        res = df[feature].str.contains(" ").any()
        print(f"{feature} contains blank spaces?: {res}")

workclass contains blank spaces?: False
education contains blank spaces?: False
marital-status contains blank spaces?: False
occupation contains blank spaces?: False
relationship contains blank spaces?: False
race contains blank spaces?: False
sex contains blank spaces?: False
native-country contains blank spaces?: False
salary contains blank spaces?: False

In [27]:
#replace them
for feature in df.columns:
    if df[feature].dtype =='object' and df[feature].str.contains(" ").any():
        df[feature] = [element.replace(" ","") for element in df[feature]]

In [47]:
# check again
for feature in df.columns:

    if df[feature].dtype =='object':
        res = df[feature].str.contains(" ").any()
        print(f"{feature} contains blank spaces?: {res}")

workclass contains blank spaces?: False
education contains blank spaces?: False
marital-status contains blank spaces?: False
occupation contains blank spaces?: False
relationship contains blank spaces?: False
race contains blank spaces?: False
sex contains blank spaces?: False
native-country contains blank spaces?: False
salary contains blank spaces?: False

# Save new clean data

In [29]:
df.to_csv('./data/census.csv', index= False)

In [30]:
# check the saving
df = pd.read_csv('./data/census.csv')
df.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [33]:
df['salary'].str.contains(" ").any()

False

In [34]:
df.columns

Index(['age', 'workclass', 'fnlgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')